<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="/images/icon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<span th:replace="_fragments/imports_head :: imports_head"></span>
	<link rel="stylesheet" href="/styles/table-scroll.css">
	<title>Higia - Início</title>
</head>

<body class="list">


	<nav class="navbar" style="/*border: 1px solid red;*/">
		<div class="container-fluid" style="margin: 0; padding: 0;">
			<a class="navbar-brand hg-logo" href="/doc">
				<i class="fa-solid fa-stethoscope secret"></i>
				Hig<span class="secret">i</span>a
			</a>
		</div>
	</nav>

	<div class="position-absolute top-50 end-0 translate-middle-y hg-me-9 mt-5" style="width: 56rem; margin-top: 14%;">
		<h4 class="text-center mb-3">Pesquisar pacientes</h4>
		<div class="container mb-4 ms-5">
			<form action="" method="post">
				<div class="input-group form-control">
					<input type="search" class="form-control" style="border: none;"
					name="" id="" placeholder="Digite o nome do paciente">
					<button class="btn btn-link text-secondary" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</form>
		</div>

		<div class="container ms-5" style="border: 2px solid #cecece; border-radius: 8pt;">
			<table class="table table-striped mb-0">
				<thead class="table-light">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col"></th>
					</tr>
				</thead>
			</table>
			<div class="table-wrapper-scroll-y my-custom-scrollbar">

				<table class="table table-striped mb-0">

					<tbody class="table-bordered table-striped">
						<tr th:each="patient : ${patients}">
							<th scope="row" th:text="${patient.id}"></th>
							<td th:text="${patient.name + ' ' + patient.lastname}"></td>
							<td class="text-end">
								<a href="#" class="me-3 text-secondary">
									<i class="fa-solid fa-eye"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<span th:replace="_fragments/imports_body :: imports_body"></span>
</body>

</html>
