<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Higia - Editar dados</title>
	<span th:replace="_fragments/imports_head :: imports_head"></span>
</head>

<body>
	<header th:replace="_fragments/header :: header"></header>

	<div class="container hg-container-edit">

		<div class="row">
			<div class="col-sm">
				<h3 class="text-center">Dados</h3>

				<form action="" method="post" th:object="${users}">
					<section>
						<div class="input-group mb-3">
							<div class="row">
								<div class="col-sm">
									<label for="name" class="form-label">Nome:</label>
									<input type="text" class="form-control form-control-mobile-col-edit" th:field="*{name}" placeholder="Nome" disabled>
								</div>
								<div class="col-sm">
									<label for="lastname" class="form-label">Sobrenome:</label>
									<input type="text" class="form-control form-control-mobile-col-edit" th:field="*{lastname}" placeholder="Sobrenome" disabled>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="text" class="form-control" th:field="*{cpf}" placeholder="Cpf" disabled>
						</div>
						<div class="input-group mb-3">
							<input type="tel" class="form-control" th:field="*{number}" placeholder="Celular" disabled>
						</div>
						<div class="input-group mb-3">
							<input type="date" class="form-control" th:field="*{birthday}" placeholder="Data de nascimento" disabled>
						</div>
					</section>
					<section class="text-center">
						<a th:href="@{/user/delete(id=${session.logged.id})}" class="btn btn-hg-outline-danger">
							<i class="fas fa-trash"></i>
							Excluir conta
						</a>
					</section>
				</form>
			</div>

			<div class="col-sm">
				<h3 class="text-center">Alterar e-mail</h3>
				<div class="p-3 mb-2 bg-success text-white">
					<i class="fa-solid fa-check"></i>
					E-mail alterado com sucesso!
				</div>
				<div class="p-3 mb-2 bg-danger text-white">
					<i class="fa-solid fa-triangle-exclamation"></i>
					Não foi possivel alterar o e-mail!
				</div>
				<form action="" method="post">
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Email">
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Senha">
					</div>
					<section class="text-center">
						<button type="submit" class="btn btn-hg-blue">Alterar email</button>
					</section>
				</form>

				<h3 class="text-center">Alterar senha</h3>
				<div class="p-3 mb-2 bg-success text-white">
					<i class="fa-solid fa-check"></i>
					Senha alterada com sucesso!
				</div>
				<div class="p-3 mb-2 bg-danger text-white">
					<i class="fa-solid fa-triangle-exclamation"></i>
					Não foi possivel alterar a senha conta! Limite de caractere de 8 dig.
				</div>
				<form action="" method="post">
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Senha">
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Confirmar senha">
					</div>
					<section class="text-center">
						<button type="submit" class="btn btn-hg-blue">Alterar senha</button>
					</section>
				</form>


			</div>
			<div class="col-sm">

			</div>
		</div>
	</div>

	<div class="hg-container hg-container-register ">





	</div>

	<span th:replace="_fragments/imports_body :: imports_body"></span>
</body>

</html>
