<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/c25abe3fb5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/style.css">
	<title>Higia - Criar conta doutor</title>
</head>

<body>
	<header th:replace="_fragments/header :: header(link='/doctor/login', text='Entrar')"></header>

	<div class="hg-photo position-absolute top-50 start-0 translate-middle-y ms-5 mt-3"
		style="border: 1px solid grey; background-color: grey;">
		<h1 style="color: white;">AQUI VAI FICAR UMA IMAGEM</h1>
	</div>

	<div class="hg-container hg-container-register position-absolute top-50 end-0 translate-middle-y me-5">
		<div th:class="${style}" th:text="${message}">
			<i th:class="${icon}"></i>
		</div>
		<h2>Criar conta!</h2>
		<form action="/doctor" method="post" id="form-register">
			<p class="password-error" id="password-error">*senhas não batem!</p>
			<section>
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="name" placeholder="Nome Completo" required>
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="crm" placeholder="Crm" required>
				</div>
				<div class="input-group mb-3">
					<input type="email" class="form-control" name="email" placeholder="Email" required>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" name="password" placeholder="Senha" minlength="8" id="password"
						required>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" placeholder="Confirmar senha" minlength="8" id="re-password"
						required>
				</div>
			</section>
			<section class="text-center">
				<button type="submit" class="btn btn-hg-blue" onclick="verifyPassword()">Cadastrar</button>
			</section>
		</form>
	</div>
	<script src="/scripts/verify_password.js"></script>
	<script src="/vendor/popper/popper.min.js"></script>
	<script src="/vendor/bootstrap/bootstrap.min.js"></script>
</body>

</html>
