<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Higia - Criar conta como médico</title>
	<span th:replace="_fragments/imports_head :: imports_head"></span>
	<link rel="stylesheet" href="/styles/boot.css">
</head>

<body class="text-center doctor-register">
	<div class="position-absolute top-0 end-0 mt-4 me-3">
		<div th:class="${style}" th:text="${message}">
			<i th:class="${icon}"></i>
		</div>
	</div>

	<a class="navbar-brand hg-logo position-absolute top-0 start-0 hg-ms-9 mt-5" href="/">
		<i class="fa-solid fa-stethoscope secret-register"></i>
		Hig<span class="secret-register">i</span>a
	</a>

	<main class="form-signin hg-me-9">
		<div class="container">
			<form action="/doctor" method="post" class="px-5 py-5"
				oninput="rePassword.setCustomValidity(password.value != rePassword.value ? 'Senhas diferentes!' : '')">
				<h2 class="text-start mb-3">Criar conta</h2>
				<div class="row">
					<div class="col-sm ">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Nome" name="name" required>
						</div>
					</div>
					<div class="col-sm">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Sobrenome" name="lastname" required>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="CRM" name="crm" required>
				</div>
				<div class="row">
					<div class="col-sm">
						<div class="input-group mb-3">
							<input type="date" class="form-control" name="birthday" required>
						</div>
					</div>
					<div class="col-sm">
						<div class="input-group mb-3">
							<input type="tel" class="form-control" placeholder="DDD90000-0000" name="number" required>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="email" class="form-control" placeholder="Email" name="email" required>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" placeholder="Senha" name="password" minlength="8" required>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" placeholder="Repetir senha" name="rePassword" minlength="8" required>
				</div>

				<button type="submit" class="btn btn-lg btn-primary" onclick="verifyInput()">Registrar-se</button>
			</form>
		</div>
	</main>

	<script src="/scripts/verify_input.js"></script>
	<span th:replace="_fragments/imports_body :: imports_body"></span>
</body>

</html>
