<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/style.css">
	<title>Higia - Criar conta</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-white bg-hg-bg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<div class="" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

			</ul>
			<ul class="navbar-nav d-flex" role="search">
				<li class="nav-item"><a href="#" class="nav-link">Entrar</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="hg-select position-absolute top-50 start-0 translate-middle-y hg-ml-10">
	<img src="doctor.png" class="img-select">
	<h3 class="text-center">Doutor?</h3>
</div>

<div class="hg-select position-absolute top-50 end-0 translate-middle-y translate-middle-y hg-mr-10">
	<img src="people.png" class="img-select">
	<h3 class="text-center">Paciente?</h3>
</div>

<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>
