<!DOCTYPE html>
<html lang="pt-br">

<head >
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Higia - Criar conta paciente</title>
	<span th:replace="_fragments/imports_head :: imports_head"></span>
</head>

<body>
	<header th:replace="_fragments/header :: header(link='/user/login', text='Entrar')"></header>

	<div class="hg-photo position-absolute top-50 start-0 translate-middle-y ms-5 mt-3"
		style="border: 1px solid grey; background-color: grey;">
		<h1 style="color: white;">AQUI VAI FICAR UMA IMAGEM</h1>
	</div>

	<div class="hg-container hg-container-register position-absolute top-50 end-0 translate-middle-y me-5">
		<div th:class="${style}" th:text="${message}">
			<i th:class="${icon}"></i>
		</div>
		<h2>Criar conta!</h2>
		<form action="/user" method="post" th:object="${user}" id="form-register" class="needs-validation"
		oninput="rePassword.setCustomValidity(password.value != rePassword.value ? 'Senha não bate!' : '')">
			<p class="password-error" id="password-error">Senhas não batem!</p>
			<section>
				<div class="input-group mb-3">
					<input type="text" class="form-control"
						placeholder="Nome Completo" name="name" id="name" required>
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control"
						placeholder="000.000.000-00" pattern="\d{3}.\d{3}.\d{3}-\d{2}"
						name="cpf" id="cpf" required>
				</div>
				<div class="input-group mb-3">
					<input type="tel" class="form-control"
						placeholder="0090000-0000" pattern="\d{2}\d{5}-\d{4}" name="number" id="number"
						required>
				</div>
				<div class="input-group mb-3">
					<input type="date" class="form-control"
					placeholder="Data de nascimento" name="birthday" id="birthday" required>
				</div>
				<div class="input-group mb-3">
					<input type="email" class="form-control"
						placeholder="Email" name="email" id="email" required>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control"
					placeholder="Senha" name="password" minlength="8" id="password" required>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control"
					placeholder="Confirmar senha" name="rePassword" minlength="8"
						id="re-password" required>
				</div>
			</section>
			<section class="text-center">
				<button type="submit" class="btn btn-hg-blue" onclick="verifyInput()">Cadastrar</button>
			</section>
		</form>
	</div>

	<script src="/scripts/verify_input.js"></script>
	<span th:replace="_fragments/imports_body :: imports_body"></span>
</body>

</html>
