<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Users</title>
</head>
<body>
    <form action="/save_user" method="post" th:object="${users}">
    	<input type="hidden" name="id" th:field="*{id}">
        Nome
        <input type="text" name="name" th:field="*{name}">
        cpf
        <input type="text" name="cpf" th:field="*{cpf}">
        email
        <input type="text" name="email" th:field="*{email}">
        senha
        <input type="password" name="password" th:field="*{password}">
        numero
        <input type="text" name="number" th:field="*{number}">
        role
        <input type="text" name="role" th:field="*{role}">
        birthday
        <input type="text" name="birthday" th:field="*{birthday}">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>