<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/images/icon.png">
	<span th:replace="_fragments/imports_head :: imports_head"></span>
	<link rel="stylesheet" href="/styles/boot.css">
	<title>Higia - Seja bem-vindo</title>
</head>

<body class="text-center login-home">
	<div th:replace="_fragments/cookie_modal :: cookie_modal"></div>
	<main class="form-signin form-login w-100 m-auto">
		<a class="navbar-brand hg-logo" href="/">
			<i class="fa-solid fa-stethoscope secret mb-3"></i>
			Hig<span class="secret">i</span>a
		</a>
		<h1 class="h3 mb-3 fw-normal">Seja bem-vindo</h1>

		<h5 class="fw-bold">Entrar como:</h5>
		<div class="container">
			<div class="row">
				<div class="col-sm mt-5 me-5">
					<a href="/user/login" class="btn hg-card-home-login">
						<img class="hg-card-icon" src="/images/patienthome-icon.svg" alt="">
						<p>Paciente</p>
					</a>
				</div>
				<div class="col-sm mt-5 hg-col-mg-min">
					<a href="/doctor/login" class="btn hg-card-home-login">
						<img class="hg-card-icon" src="/images/doctorhome-icon.svg" alt="">
						<p>Médico</p>
					</a>
				</div>
			</div>
		</div>
		<footer class="mt-5 mb-3 text-muted">HIGIA &copy; 2022 - Todos os direitos reservados</footer>
	</main>

	<span th:replace="_fragments/imports_body :: imports_body"></span>
	<script>
		var myModal = new bootstrap.Modal(document.getElementById('myModal'), {})
		myModal.toggle()
	</script>
</body>

</html>
