<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/c25abe3fb5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/style.css">
	<title>Higia - Entrar</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-white bg-hg-bg">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>

			<div class="" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				</ul>
				<ul class="navbar-nav d-flex" role="search">
					<li class="nav-item">
						<a href="/doctor/registration" class="btn btn-hg-outline-blue">
							<i class="fa-solid fa-user-plus me-2"></i>
							Registrar-se
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="hg-photo position-absolute top-50 start-0 translate-middle-y ms-5">
		<img src="/images/medical-team.png" alt="">
	</div>

	<div class="hg-container position-absolute top-50 end-0 translate-middle-y me-5">
		<h3>Entrar</h3>
		<form action="/doctor/logon" method="post">
			<section>
				<div class="input-group mb-3">
					<input type="email" class="form-control" placeholder="Email" name="email" required>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" placeholder="Password" name="password" required>
				</div>
			</section>
			<section class="text-center">
				<a href="#" class="pe-5 form-link">Esqueceu a senha?</a>
				<button type="submit" class="btn btn-hg-blue">Entrar</button>
			</section>
		</form>
		<div class="text-center mt-5">
			<a href="/" class="btn btn-hg-outline-blue">
				<i class="fa-solid fa-arrow-left me-1"></i>
				voltar
			</a>
		</div>
	</div>

	<script src="/vendor/popper/popper.min.js"></script>
	<script src="/vendor/bootstrap/bootstrap.min.js"></script>
</body>

</html>
