<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/images/icon.png">
	<span th:replace="_fragments/imports_head :: imports_head"></span>
	<link rel="stylesheet" href="/styles/boot.css">
	<title>Higia - Entrar</title>
</head>

<body class="text-center login-doctor">

	<div th:replace="_fragments/reset_password :: reset_password(link='/doctor/restore')"></div>

	<div class="position-absolute top-0 end-0 mt-4 me-3">
		<div th:class="${style}">
			<i th:class="${icon}"></i>
			<span class="ms-2" th:text="${message}"></span>
		</div>
	</div>

	<a class="navbar-brand hg-logo position-absolute top-0 start-0 hg-ms-9 mt-5" href="/">
		<i class="fa-solid fa-stethoscope secret"></i>
		Hig<span class="secret">i</span>a
	</a>

	<main class="form-signin form-login-patient hg-me-9">
		<a class="navbar-brand hg-logo hg-logo-mobile" href="/">
			<i class="fa-solid fa-stethoscope secret"></i>
			Hig<span class="secret">i</span>a
		</a>
		<section class="row mx-5 my-5">
			<section class="col-lg">
				<div class="signin hg-col-mt-min">
					<form action="/doctor/logon" method="post" class="px-5 py-5">
						<h2 class="text-start mb-3">Entrar</h2>
						<div class="input-group input-group-lg mb-3">
							<input type="email" class="form-control" placeholder="Email" name="email" required>
						</div>
						<div class="input-group input-group-lg mb-3">
							<input type="password" class="form-control" placeholder="Senha" name="password" required>
						</div>

						<button type="submit" class="btn btn-lg btn-primary" style="width: 8em;">Entrar</button>
						<div class="container mt-3">
							<a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-center">Recuperar senha?</a>
						</div>
					</form>
				</div>
				<div class="text-secondary mt-3">
					<hr>
				</div>
				<a href="/doctor/registration" class="btn btn-lg btn-outline-success">Crie uma conta</a>
			</section>
		</section>
		<footer class="mt-5 mb-3 text-muted ">HIGIA &copy; 2022 - Todos os direitos reservados</footer>
	</main>

	<span th:replace="_fragments/imports_body :: imports_body"></span>
</body>

</html>
