<div th:fragment="blood_form">
	<div class="modal fade" id="bloods-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title-center" id="exampleModalLabel">Novo Exame</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<form action="/test/save" method="post">
						<label for="hemoglobin" class="mt-1">hemoglobina (g/dL):</label>
						<div class="input-group mt-1">
							<input type="number" name="hemoglobin" id="hemoglobin" class="form-control"
								value="0" required>
						</div>

						<label for="neutrophils" class="mt-1">neutrófilos (mcl):</label>
						<div class="input-group mt-1">
							<input type="number" name="neutrophils" id="neutrophils" class="form-control"
								value="0" required>
						</div>

						<label for="eosinophils" class="mt-1">eosinófilos (mcl):</label>
						<div class="input-group mt-1">
							<input type="number" name="eosinophils" id="eosinophils" class="form-control"
								value="0" required>
						</div>

						<label for="basophiles" class="mt-1">basófilos (mm<sup>3</sup>):</label>
						<div class="input-group mt-1">
							<input type="number" name="basophiles" id="basophiles" class="form-control"
								value="0" required>
						</div>

						<label for="lymphocytes" class="mt-1">linfócitos (mm<sup>3</sup>):</label>
						<div class="input-group mt-1">
							<input type="number" name="lymphocytes" id="lymphocytes" class="form-control"
								value="0" required>
						</div>

						<label for="monocytes" class="mt-1">monócitos (mm<sup>3</sup>):</label>
						<div class="input-group mt-1">
							<input type="number" name="monocytes" id="monocytes" class="form-control"
								value="0" required>
						</div>

						<label for="platelets" class="mt-1">plaquetas (mcl):</label>
						<div class="input-group mt-1">
							<input type="number" name="platelets" id="platelets" class="form-control"
								value="0" required>
						</div>

						<label for="cpf" class="mt-1">CPF do paciente:</label>
						<div class="input-group mt-1">
							<input type="text" name="cpf" id="cpf" class="form-control"
								placeholder="000.000.000-00" required>
						</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>
