<header th:fragment="header">
	<span th:if="${session.isEmpty()}">
		<nav class="navbar navbar-expand-lg navbar-white bg-hg-bg">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<div class="" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
					<ul class="navbar-nav d-flex" role="search">
						<li class="nav-item ">
							<a  th:href="${link}" class="btn btn-hg-outline-blue">
								<span class="me-1" th:classappend="${icon}"></span>
								<span  th:text="${text}"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</span>
	<span th:unless="${session.isEmpty()}">
	</span>
</header>
