<div th:fragment="image_form">
	<div class="modal fade" id="image-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title-center" id="exampleModalLabel">Novo Exame</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<form action="/image/save" method="post" enctype="multipart/form-data">
						<label for="">Tipo de exame:</label>
						<div class="mt-1">
							<select name="type" class="form-select">
								<option th:each="image : ${T(start.project.higia.models.ImageExamType).values()}"
										th:value="${image}" th:text="${image.displayValue}"></option>
						</select>
						</div>

						<label for="file" class="mt-1">Imagem:</label>
						<div class="input-group mt-1">
							<input type="file" name="file" id="file" class="form-control">
						</div>

						<label for="cpf" class="mt-1">CPF do paciente:</label>
						<div class="input-group mt-1">
							<input type="text" name="cpf" id="cpf" class="form-control"
								placeholder="000.000.000-00" required>
						</div>

						<label for="description" class="mt-1">Descrição:</label>
						<div class="input-group mt-1">
							<textarea name="description" id="description" class="form-control"
								style="resize: none"></textarea>
						</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>
