<div th:fragment="image_view">
	<div class="modal fade" th:id="'modal' + ${id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title-center" id="exampleModalLabel" th:text="@{${patient.user.name + ' ' + patient.user.lastname}}"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<div class="ms-5">
						<div class="ms-4">
							<img th:src="@{'https://higia-project-start.s3.amazonaws.com/imagens/' + ${patient.id} + '.jpg'}" alt="" srcset="" width="300">
						</div>
					</div>

					<div>
						<label for="hemoglobin" class="mt-3 mb-2">Tipo de exame:</label>
						<div class="text-center">
							<p th:text="${patient.type.displayValue}" class="ms-3 fw-bold"></p>
						</div>
					</div>

					<div>
						<label for="hemoglobin" class="mt-1 mb-2">Descrição:</label>
						<div class="input-group">
							<p th:text="${patient.description}" class="ms-3 fw-normal form-control"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
