<div th:fragment="modal">
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Termos de condição</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dignissimos
				perferendis necessitatibus facere a expedita possimus minima quidem blanditiis
				fugit quia, beatae sapiente nesciunt totam ipsum vitae optio eum! Quidem.

				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias aperiam
				quod est, eveniet quam doloribus numquam vel. Cum non, atque provident nihil,
				 sapiente temporibus commodi culpa vero accusamus exercitationem unde.

				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta officia
				 ipsum delectus est enim quos! Ipsum, possimus laudantium error neque deserunt
				  alias ipsam dolorum deleniti ducimus reprehenderit, fugit repellendus illo!

				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum similique
				 voluptas, animi saepe accusantium minus reprehenderit architecto, esse necessitatibus
				  sunt libero veritatis atque pariatur facere inventore laudantium soluta nam iusto!

				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam excepturi
				 ad consequatur odio, consectetur accusamus, nemo distinctio adipisci commodi
				 deleniti at voluptatibus reprehenderit incidunt. Quibusdam reiciendis numquam labore beatae enim.

				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, vitae atque.
				Harum dolorum amet fuga nulla magni ipsum blanditiis. Dignissimos magnam porro odit
				 laudantium officia obcaecati accusantium repellat quisquam sapiente?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
