<div th:fragment="modal_view_patient">
<div class="modal fade" th:id="'modal' + ${id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title-center" id="exampleModalLabel" th:text="${patient.name + ' ' + patient.lastname}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="message-text" class="col-form-label fw-bold">Email:</label>
            <div class="input-group form-control">
							<input type="text" th:value="${patient.email}" th:id="'email' + ${id}"
								class="form-control" style="border: none;">
								<button type="button" class="btn btn-link link-secondary" th:onclick="|copy('email' + ${id})|">
									<i class="fa-solid fa-copy"></i>
								</button>
						</div>
          </div>
					<div class="mb-3">
            <label for="message-text" class="col-form-label fw-bold">Telefone:</label>
						<div class="input-group form-control">
							<input type="tel" th:value="${patient.number}" th:id="'phone' + ${id}"
								class="form-control" style="border: none;">
								<button type="button" class="btn btn-link link-secondary" th:onclick="|copy('phone' + ${id})|">
									<i class="fa-solid fa-copy"></i>
								</button>
						</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/copy_text.js"></script>
</div>
