<div th:fragment="reset_password">
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Recuperar senha</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form th:action="${link}" method="post">
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">Procurar conta:</label>
							<input type="email" class="form-control" id="recipient-name" name="email"
								placeholder="E-mail">
						</div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Pesquisar</button>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>
