@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e5effc;
}

.login-home {
	background-image: url("../images/home-designer.svg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.login-patient {
	background-image: url("../images/login-user.svg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.login-doctor {
	background-image: url("../images/login-doctor.svg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.doctor-register {
	background-image: url("../images/doctor-registration.svg");
	background-size: 84%;
	background-repeat: no-repeat;
}

.patient-register {
	background-image: url("../images/user-registration.svg");
	background-size: 84%;
	background-repeat: no-repeat;
}

.hg-logo {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bolder;
  font-size: 50pt;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.form-signin {
  max-width: 50em;
  max-height: 50em;
  padding: 15px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.form-login {
	max-width: 30em;
}

.form-login-patient {
	width: 40em;
}

.form-register {
	width: 38em;
}

.main-register {
	width: 40%;
}

.hg-me-9 {
	margin-right: 10em;
}

.hg-ms-9 {
	margin-left: 2em;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}



.signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup {
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hg-col-mg-min {
  margin-left: -26%;
}

.hg-col-mt-min {
	margin-top: -16%;
}

.hg-logo-mobile {
  display: none;
}

.mobile-show {
	display: none;
}

.form-signin-width {
	width: 100%;
}

@media screen and (max-width: 1024px) {
  .form-signin {
    max-width: 26em;

    margin-bottom: 5%;
  }

	.main-register {
		width: 100%;
	}

	.form-register {
		width: 100%;
	}

  .hg-logo-mobile {
    display: block;
    margin-bottom: -12%;
  }

  .form-signin .section-img {
    display: none;
  }

	.mobile-show {
		display: block;
	}

  .signup {
    width: 100%;
  }

  .hg-col-mg-min {
    margin-left: 0;
  }

  .btn {
    width: 100%;
    margin-top: 2%;
  }

  .footer-mobile {
    margin-top: -100%;
  }

	.hg-me-9 {
		margin-right: auto;
	}
}

a {
  color: #121212;
}

.secret {
  color: #467be3;
}

.secret-register {
  color: #fff;
}

.secret:hover, .secret-register:hover {
  color: #2a5ec7;
}

.hg-card {
	background-color: #f3f6fa;
	border-radius: 16px;


	box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}
