@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

:root {
	--hg-blue: #467be3;
	--white: #fff;
	--hg-bg: #f3f6fa;
	--hg-danger: #ff6347;
	--hg-danger-dark: #CC0000;
	--hg-black-light: #353434;
	--hg-success: #00C851;
	--hg-success-dark: #007E33;
}

body {
	background-color: var(--hg-bg);
	color: #121212;
}

.hg-black-light {
	color: var(--hg-black-light);
}

.hg-text-success {
	color: var(--hg-success);
}

.hg-text-success-dark {
	color: var(--hg-success-dark);
}

.hg-text-danger {
	color: var(--hg-danger);
}

.hg-text-danger-dark {
	color: var(--hg-danger-dark);
}

.hg-bg-success {
	background-color: var(--hg-success)
}

.hg-bg-success-dark {
	background-color: var(--hg-success-dark)
}

.hg-bg-danger {
	background-color: var(--hg-danger);
}

.hg-bg-danger-dark {
	background-color: var(--hg-danger-dark);
}

.bg-hg-blue {
	background-color: var(--hg-blue);
}

.bg-hg-bh {
	background-color: var(--hg-bg);
}

.hg-container {
	max-width: 100%;
	width: 20em;
	padding: 2%;
}

.hg-container-edit {
	margin-top: 5em;
	margin-left: 15em;
}

.hg-photo {
	margin-top: -4%;
	max-width: 100%;
	width: 30em;
	height: 25em;
	padding: 2%;
	object-fit: contain;
}

.hg-select {
	max-width: 100%;
	border-radius: 50%;
	border: 2px solid var(--hg-blue);
	padding: 2%;
	color: var(--hg-blue);
}

.img-select {
	width: 200px;
	height: 200px;
}

.hg-select:hover {
	background-color: var(--hg-blue);
	cursor: pointer;
	color: var(--white);
}

.hg-ml-10 {
	margin-left: 20em;
}

.hg-mr-10 {
	margin-right: 20em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.hg-photo {
		max-width: 100%;
		width: 40vw;
		height: 25em;
		padding: 2%;
	}

	.hg-container {
		max-width: 100%;
		width: 20em;
		padding: 2%;
	}

	.hg-select {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 100%;
		border-radius: 50%;
		padding: 2%;
	}

	.img-select {
		width: 100px;
		height: 100px;
	}
}

.hg-container-register {
	margin-top: 1.5em;
}

input[type="date"], ::placeholder {
	color: #797878;
}

@media screen and (max-width: 767px) {
	.hg-photo {
		display: none;
	}

	.hg-container {
		position: absolute;
		left: 20%;

		height: 20px;
		margin-left: -10px;
		/* -1/2 width */
		margin-top: -10em;
	}

	.hg-container-register {
		max-width: 20em;
		width: 100%;
		padding: 2%;
	}

	.form-control {
		height: 10%;
	}

	.form-control-mobile-col {
		height: 100%;
	}

	.form-control-mobile-col-edit {
		height: 54%;
	}

	.btn-hg-blue, .btn-hg-outline-danger, .form-control1 {
		width: 100%;
	}

	.hg-select {
		max-width: 100%;
		border-radius: 50%;
		padding: 2%;
	}

	.img-select {
		width: 150px;
		height: 150px;
	}

	.hg-ml-10 {
		margin-left: 17em;
	}

	.hg-mr-10 {
		margin-right: 17em;
	}

	.hg-container-edit {
		margin-top: 5em;
		margin-left: 0;
	}
}

.btn-hg-blue {
	margin-bottom: 4%;
	background-color: var(--hg-blue);
	color: var(--white);
}

.btn-hg-blue:focus {
	margin-bottom: 4%;
	background-color: var(--hg-blue);
	color: var(--white);
}

.btn-hg-outline-blue {
	margin-bottom: 4%;
	background: none;
	border: 1px solid var(--hg-blue);
	color: var(--hg-blue);
}

.btn-hg-outline-blue:hover {
	margin-bottom: 4%;
	background-color: var(--hg-blue);
	border: 1px solid var(--hg-blue);
	color: var(--white);
}

.btn-hg-outline-danger {
	margin-bottom: 4%;
	background: none;
	border: 1px solid var(--hg-danger);
	color: var(--hg-danger);
}

.btn-hg-outline-danger:hover {
	margin-bottom: 4%;
	background-color: var(--hg-danger);
	border: 1px solid var(--hg-danger);
	color: var(--white);
}

.btn-hg-blue:hover {
	background-color: #3c70d6;
	color: var(--white);
}

.form-link {
	text-decoration: none;
}

.form-link:hover {
	text-decoration: underline;
}

.password-error {
	display: none;
	color: var(--hg-danger);
}

.home-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.home-link {
	text-decoration: none;
	color: #5171da;
}

.home-link:hover {
	color: #2891e7;
	cursor: pointer;
}

.hg-link {
	color: #3a3838;
}
.hg-link:hover {
	cursor: pointer;
	color: #575454;
}

.doctor {
	display: block;
	border-radius: 50px;
  width: 40px;
  height: 40px;
  background: url(../images/doctor.png);
	background-size: 40px 40px;
}

.patient {
	display: block;
	border-radius: 50px;
  width: 40px;
  height: 40px;
	margin-right: 8pt;
  background: url(../images/people.png);
	background-size: 40px 40px;
}

.hg-error::placeholder {
	color: var(--hg-danger);
}

.hg-logo {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family: 'Rubik Moonrocks', cursive;
	font-size: 20pt;
}

.hg-link-m-blue {
	color: #83B5F9;
}


